#head {
    text-align: center;
    color: white;
    background-color: #2566cf;
    height: 50px;
    line-height: 50px;
}
.cat {
    width: 300px;
    height: 50px;
    font-size: 20px;
    /* background-color:#7facf5; */
}
#filter {
    margin-top: 50px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#centersub {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#sub {
    height: 100px;
    width: 100px;
    padding: 40px 20px;
    font-size: 15px;
}
#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#col {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
}

#sched {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}
/* .cboxtext {
    width: 500px;
    height: 75px;
    /* border-style: solid;
    border-width: 0px; */
    /* margin: 1px; */
/* }  */
#sched {
    display: flex;
    flex-direction: column;
}
.container {
  height:720px;
  width: 900px;
  display: flex;
  justify-content: center;
}

.timings {
  text-align: right;
  padding-right: 10px;
  width: 100px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-size: 0.5em;
  box-sizing: border-box
}
.timings span {
  font-size: 200%;
  color: #696969;
}

.days {
  height: 720px;
  width: 620px;
  padding: 0px 10px;
  background-color: #F0F0F0;
  border-color: #D1D1D1;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.event {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: #D1D1D1;
  border-left-color: #57b986;
  padding-left: 10px;
  padding-top: 5px;
  /* position: absolute; */
  position: relative;
  font-size: 0.5em;
  box-sizing: border-box;
  width: 100vh;
  /* display: inline-block; */
  /* text-overflow: ellipsis; */
  overflow-y: scroll;
}

.event .title {
  color: #57b986;
  font-size: 200%;
}

/* #events {
    width: 100%;
} */
/* #events {
    display: flex;
    flex-direction: column;
} */
#act {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color:#666;
    opacity: 0.5;

}
.ev {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#pict {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.slideshow-container {
  /* max-width: 1000px; */
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #d8e3da;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mySlides {display: none}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
   color: gold;
}



/* updated */
#caleandar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cld-main{
  width: 330px;
}
.cld-main a{
  color: #333;
  font-weight: bold;
}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day.today .cld-number{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #666;
    color: #fff;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 5px;
      padding: 5px;
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 30px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }
      .cld-number.eventday{
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        border: 1px solid #999;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #888;
      }
